<!DOCTYPE html>
<html>
<title>Merchant Registration</title>

<script src="angular.js"></script>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {

	$scope.customerId ="";
        $scope.pointBalance =0;


   $scope.reset = function() {
	$scope.customerId ="";
        $scope.pointBalance =0;
	
    };


	$scope.getPoints = function() {

	$scope.pointBalance= 50;

   };
   
   $scope.redeemPoints = function(){
	
    };


});
</script>


<body>
 <a href="MerchantRegistration.html"> Merchant Registration</a>   &nbsp; &nbsp;
 <a href="ClientRegistration.html"> Client Registration</a> &nbsp; &nbsp;
 <a href="transaction.html"> Transaction</a>   &nbsp; &nbsp;
 <a href="CustomerPoints.html"> Customer Points</a>   &nbsp; &nbsp;
<br/><br/>



<div> <h1>Redeem Points </h1></div>
<div ng-app="myApp" ng-controller="myCtrl">

Customer Id: <input type="text"  ng-model="customerId"><br/><br/>

Points : {{pointBalance}}	
<br/><br/>

<button ng-click="reset()">Reset</button>
<button ng-click= "getPoints()"> Get Points</button>
<button ng-click= "redeemPoints()"> Redeem Points</button>
</div>


</body>
</html>